* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    padding-bottom: 50rem;
}

h1 {

    margin-top: 5rem;

}

body {
    background-image: url("../faucet/images/NewBg_2-01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;


}

.ball {
    overflow: hidden;
}

img.bg {
    width: 100%;
    position: absolute;

}

.faucetContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.faucet {
    position: relative;
    display: flex;
    width: 98.5%;
    top: -5rem;
}

img.water {
    position: relative;
    top: -10rem;

}

.ball {
    position: relative;
}

.ball1 {
    position: relative;
    top: -30rem;
    right: -8rem;

}

.ball2 {
    position: relative;



}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -15rem;
    color: white;
    font-weight: 500;
    font-size: x-large;

}

.ring1 {
    position: relative;
    top: 20rem;
    left: -30rem;
}


@media screen and (max-width:1470px) {
    .ball1 {}

    .ball2 {
        width: 30%;
        left: -20rem;
    }

}

@media screen and (max-width:1250px) {
    .ball1 {
        width: 20%;
        top: 15rem;
    }

    .ball2 {
        width: 35%;
        left: -20rem;
    }
}


@media screen and (max-width:920px) {

    .ball1 {
        top: -20rem;
    }

    .ball2 {
        width: 40%;
    }
}

@media screen and (max-width:760px) {


    .ring1 {
        left: -36rem;
    }

}


@media screen and (max-width:650px) {

    .ring1 {
        width: 90%;
        top: -10rem;
        left: -31rem;
    }

    .ball2 {
        left: -15rem;
    }

    .ball1 {
        top: -20rem;
    }
}

@media screen and (max-width:570px) {

    .ring1 {
        width: 80%;
        left: -36rem;
    }

    .ball1 {
        top: -15rem;
    }
}

@media screen and (max-width:490px) {

    .ring1 {
        left: -41rem;
        max-width: 20%;
    }
}


@media screen and (max-width:370px) {

    .ring1 {

        left: -43rem;

    }
}